<link rel="stylesheet" href="/Public/css/categorias.css">
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

<div class="category-section">
    <div class="category-card">
        <img src="/Public/imagens/anel.jpg" alt="Anéis">
        <h3>Anéis</h3>
    </div>
    <div class="category-card">
        <img src="/Public/imagens/pulseira1.jpeg" alt="Pulseiras">
        <h3>Pulseiras</h3>
    </div>
    <div class="category-card">
        <img src="/Public/imagens/brinco1.jpeg" alt="Brincos">
        <h3>Brincos</h3>
    </div>
    <div class="category-card">
        <img src="/Public/imagens/gargantilha2.jpeg" alt="Gargantilhas">
        <h3>Gargantilhas</h3>
    </div>
    <div class="category-card">
        <img src="/Public/imagens/gargantilha1.jpeg" alt="Colares">
        <h3>Colares</h3>
    </div>
</div>
