<link rel="stylesheet" href="/Public/css/slider.css">
<!-- Slider semântico com uso de section -->
<section class="slider">
    <div class="slides" aria-live="polite">
      <!-- Adicionando roles e rótulos de acessibilidade -->
      <figure class="slide" id="slide-1" role="group" aria-label="Coleção 1">
        <img src="/Public/imagens/aneis.jpeg" alt="Coleção 1">
      </figure>
      <figure class="slide" id="slide-2" role="group" aria-label="Coleção 2">
        <img src="/Public/imagens/colecaoreligiosa.jpeg" alt="Coleção 2">
      </figure>
      <figure class="slide" id="slide-3" role="group" aria-label="Coleção 3">
        <img src="/Public/imagens/fretegratis.jpeg" alt="Coleção 3">
      </figure>
      <!-- Continuar adicionando slides conforme necessário -->
    </div>
    
    <!-- Botões de Navegação -->
    <button class="slider-control prev" aria-label="Slide anterior">&#10094;</button>
    <button class="slider-control next" aria-label="Próximo slide">&#10095;</button>
  
    <!-- Indicadores de Slide -->
    <div class="slide-indicators">
      <span class="indicator" data-slide-to="1" aria-label="Ir para o slide 1"></span>
      <span class="indicator" data-slide-to="2" aria-label="Ir para o slide 2"></span>
      <span class="indicator" data-slide-to="3" aria-label="Ir para o slide 3"></span>
      <!-- Adicione mais indicadores conforme necessário -->
    </div>
  </section>
  