.novidades-title {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    text-align: center;
    margin: 40px 0;
}

.categorias-title{
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    text-align: center;
    margin: 40px 0
}

.produtos-title {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    text-align: center;
    margin: 40px 0
}